# Ignore all
*

# Except Git
!.gitignore
!LICENSE.md
!README.md

# Except GitHub
!/.github
!/.github/**

# Except Cymb
!/include
!/include/**
!/source
!/source/**
!main.c

# Except demo
!/demo
!/demo/**

# Except tests
!/test
!/test/**

# Except CMake
!CMakeLists.txt
